// Define variables for your color scheme

// For example:
$blue: #4361EE;
$blue-background: #EDF0FD;
$red: #E53D31;
$red-background: #F6BBB7;
$green: #2DC653;
$green-background: #B7EFC5;
$dropshadow: #D9D9D9;
$Highlighted-icons: #000000;
$Icon-details: #888888;
$placeholders-back: #F7F6F6;
