#bookingscont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#bookul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

h1 {
  font-weight: bold;
  font-family: "Poppins";
}

#indexitemb {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
  border: black;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

#indexitemb:last-child {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
  border: black;
  padding: 8px 16px;
  border-bottom: none
}

#listitemb {
  display: flex;
  gap: 30px;
  justify-content: left;
  padding-left: 20px;
  align-items: center;
}

#showlink {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.book-title{
  background-color: white;
  padding: 10px;
  text-align: center;

}
.table {
  border-radius: 50px;
}
