#bookingscont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#bookul {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ddd;
}

h1 {
  font-weight: bold;
  font-family: "Poppins";
  padding-top: 15px;
}

#indexitemb {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
  border: black;
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

#indexitemb:last-child {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  padding-left: 20px;
  align-items: center;
  border: black;
  padding: 8px 16px;
  border-bottom: none
}

#listitemb {
  display: flex;
  gap: 30px;
  justify-content: left;
  padding-left: 20px;
  align-items: center;
}

#showlink {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.book-title{
  // background-color: white;
  padding: 10px;
  text-align: center;
}

.table th:first-child, .table td:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.table th:last-child, table td:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.btn-table-style {
  border-radius: 7px;
  color: white;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;

}
#newreviewbtn{
 background-color: #2DC653;
 color: black;
}
#newreviewbtn:hover {
  background-color: #B7EFC5;
}
.table > :not(caption) > * > * {
  background-color: white;
}
.table {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.btn-danger {
  background-color: #E53D31;
  border: none;
}
.btn-danger:hover {
  background-color: #F6BBB7;
}
.btn-info {
  background-color: #2DC653;
}
.btn-info:hover{
  background-color: #B7EFC5;
}
