// .app-body {
//   height: calc(100% - 56px);
// }
 .container-search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  width: 78%;
  background:white;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #D9D9D9;
 }

 .form-input {
  width: 170px;
  font-family: 'Poppins';
  border: none;
  border-radius: 10px;
  padding: 14px;
  margin-left: 30px;
  margin-top: 30px ;
  background-color: #F7F6F6;
  font-size: 15px;
  text-align: center;
  color: #888888;

 }
 .search-button{
  font-family: 'Poppins';
  border: none;
  border-radius: 10px;
  padding: 14px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: $blue;
  font-size: 15px;
  text-align: center;
  width: 100px;
  color: white;
 }

 .search-button:hover {
  background-color: #2C47B9;
 }
 .fa-solid {
  margin-right: 0px;
 }
#phone {
  width: 210px;
}
#last{
  margin-right: 40px;
}

#headsearch {
  display: flex;
  font-family: 'Poppins';
  align-items: flex-start;
  font-size: 25px;
  font-weight: 600;
}

#listcont {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 79%;
}

.card-category-index {
  box-shadow: 0px 0px 2px #D9D9D9;
}
