#restaurantedit {
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 10px #D9D9D9;
  width: 38rem;
  padding: 1.5rem;
}

.form-inputs .input-group {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adjust gap as needed */
  margin-bottom: 16px; /* Space below each group */
}

.form-inputs .input-group .form-group {
  flex: 1;
  min-width: 0; /* Prevent overflow */
}

#btndangeredit {
  background-color: $red;
  color: white;
}

#btndangeredit:hover {
  background-color: #CC352B;
  color: white;
}

#editbutttons {
  align-items: flex-end;
  justify-content: space-between;
}
