
<div class="footer mt-auto">
  <div class="d-flex justify-content-around align-content-center p-3">

    <div class="footer-links align-content-center">
      <a href="#"><i class="fab fa-instagram fa-lg mx-1"></i></a>
      <a href="#"><i class="fab fa-facebook fa-lg mx-1"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter fa-lg mx-1"></i></a>
      <a href="#"><i class="fab fa-linkedin fa-lg mx-1"></i></a>
    </div>

    <div class="footer-terms align-content-left">
        <a class="me-2" style="text-decoration:none" href="#">Terms  </a>
        <a class="me-2" style="text-decoration:none" href="#">Sitermap </a>
        <a class="me-2" style="text-decoration:none" href="#">Privacy </a>
        <a class="me-3" style="text-decoration:none" href="#">Your Privacy Choices </a>
        <span>© 2024 Crazy Client, Inc.</span>
    </div>



    <%# <div class="footer-copyright align-content-right">
      Made with <i class="fas fa-heart"></i> at MemesBNB
    </div> %>

  </div>
</div>
