
<div class="footer p-3  mt-auto">
  <div class="d-flex justify-content-around align-content-center">

    <div class="footer-links align-content-center">
      <a href="#"><i class="fab fa-github fa-lg mx-1"></i></a>
      <a href="#"><i class="fab fa-instagram fa-lg mx-1"></i></a>
      <a href="#"><i class="fab fa-facebook fa-lg mx-1"></i></a>
      <a href="#"><i class="fab fa-twitter fa-lg mx-1"></i></a>
      <a href="#"><i class="fab fa-linkedin fa-lg mx-1"></i></a>
    </div>

    <div class="footer-terms align-content-left">
        <span class="mx-2">© 2024 Crazy Client, Inc.   </span>
        <a class="mx-1" style="text-decoration:none" href="#">Terms  · </a>
        <a class="mx-1" style="text-decoration:none" href="#">Sitermap  · </a>
        <a class="mx-1" style="text-decoration:none" href="#">Privacy  ·  </a>
        <a class="mx-1" style="text-decoration:none" href="#">Your Privacy Choices  </a>
    </div>



    <%# <div class="footer-copyright align-content-right">
      Made with <i class="fas fa-heart"></i> at MemesBNB
    </div> %>

  </div>
</div>
