<h1>Clients</h1>


<div class="container">

    <% @clients.each do |client| %>
      <div class="card-category" style="">
        <p><%= client.first_name %> <%= client.last_name %></ü>
      </div>
    <% end %>

</div>
