<div class="content-container">
  <div class="container mb-4 pt-4">
    <div data-controller="client-list">
      <%= render "clients/search_clients" %>
      <% if @clients.empty? %>
        <div class="container container-search d-flex flex-column align-items-center justify-content-center align-items-center justify-content-center">
          <h3>No clients match your search criteria</h3>
          <%= link_to "Add Client", new_client_path, class:"btn btn-primary text-nowrap align-middle mt-3" %>
        </div>
      <% end %>
      <%= render "shared/list" %>
    </div>
  </div>
</div>
