
<div class="container mt-4 mb-4">
  <div class="container m-4 d-flex justify-content-center">
    <h1>Clients</h1>
  </div>
  <div data-controller="client-list">
    <%= render "clients/search_clients" %>
    <%= render "shared/list" %>
  </div>
</div>
