<div class="content-container p-0">
  <div class="app-body">
    <div class="container mb-4 pt-4">
      <div data-controller="client-list">
        <%= render "clients/search_clients" %>
        <%= render "shared/list" %>
      </div>
    </div>
  </div>
</div>
