.booking-new-container {
  min-height: 83vh;
  height: auto;
}

.app-container {
  height: 83vh;
  padding-top: 11vh;
}

.footer-container {
  height: 6vh;
}

.content-container {
  min-height: 83vh;
  padding-top: 11vh;
}
