.booking-new-container {
  min-height: 83vh;
  height: auto;
}

.app-container {
  padding-top: 110px;
  background-color: rgb(232, 233, 245);

  height: 83vh;
  padding-top: 11vh;
}

.footer-container {
  height: 6vh;
}

.content-container {
  min-height: 83vh;
  padding-top: 11vh;
}

