.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 11vh;
  min-height: 4.5em;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-left,
.navbar-right {
  flex: 1;
}

.spacer {
  flex: 1;
}

#restaurant-name {
  margin-bottom: 0px;
}
