.reviews-container {
  max-height: 135px;
  scroll-behavior: smooth;
  padding-right: 15px;
  overflow-y: scroll;
  // scrollbar-color: red;
}

// .reviews-container::-webkit-scrollbar:vertical {
//   width: 3px;
//   color: red;
// }

// <div class="scroll-container">
//   <div class="scroll-page" id="page-1">1</div>
//   <div class="scroll-page" id="page-2">2</div>
//   <div class="scroll-page" id="page-3">3</div>
// </div>
