<!-- <h1 class="h1">All reviews here - index page specific</h1>
<h4>This is supposed to only be done in case we have time,
but it would still be for the reviews that our restaurant has done,
NEVER for all of the reviews that exist!!!</h4> -->

<h2 class="h2">
  This are the reviews for client <em>replace</em>⬇️
</h2>
<div class="empty-for-now">
  <% @reviews.each do |review| %>
    <div lcass="card-info">
      <h3 class="h3">Crazy behaviour happened: -to correct-<%#= review.bookings_id.booking_start %></h3>
      <% if review.attendance %>
        <p>Mr <%= review.client.last_name %> <em>showed up</em>, but arrived <strong><%= review.punctuality %></strong> minutes late!</p>
      <% else %>
        <p>The client did <strong>not</strong> show up!</p>
      <% end %>
      <h4 class="h4">
        <span class="to-populate">
          Comment left by <em>-to correct-<%#= review.bookings_id.restaurant_id.name %></em>'s manager:
        </span>
        <p class="text-info">
        <%= review.comment %>
        </p>
      </h4>
    </div>
    <%#= reference the restaurant that made the review booking to which the review belonged  %>
  <% end %>
</div>
